---
import '@styles/cms-elements/hero-banner.scss';
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section class="hero-banner container-fluid">
    
</section>
