---
import { storyblokEditable } from "@storyblok/astro";
import '../styles/variables/colors.scss'
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
    <h3>
        {blok.headline}
    </h3>
</div>
