/*
    THESE SCSS COLOR VARIABLES WILL BE EXPORTED TO CSS VARIABLES.
    USE CSS VARIABLES FOR COLORS IN SCSS FILES FOR EXAMPLE var(--color-white);
*/

$colors: (
        "light":(
                "white":              #FFF,

                "light-grey":         #f2f2f2,
                "border-grey":        #b2b2b2,
                "grey":               #959697,
                "dark-grey":          #6d6d6d,

                "black":              #000,

                "orange":             #f7933a,
                "green":              #5da904,

                "ui-green":           #B0C717,
                "ui-red":             #C10D00,

                "theme-blue":         #004689,
                "theme-dark-blue":    #012547,
                "theme-orange":       #e06c6c,

                "main-background":    #ffffff,

                "font":               #000,
                "links":              #dc0030,
                "link-hover":         #000
        ),

        "dark": (
                "white":              #000,

                "light-grey":         #f2f2f2,
                "border-grey":        #b2b2b2,
                "grey":               #959697,
                "dark-grey":          #6d6d6d,

                "black":              #000,

                "orange":             #f7933a,
                "green":              #5da904,

                "ui-green":           #B0C717,
                "ui-red":             #C10D00,

                "theme-blue":         #004689,
                "theme-dark-blue":    #012547,
                "theme-orange":       #e06c6c,

                "main-background":    #ffffff,

                "font":               #000,
                "links":              #dc0030,
                "link-hover":         #000
        )
);

@function color($mode: "light", $color){
    @return map-get(map-get($colors, $mode), $color);
}


/* Bootstrap Variables */
$color-primary: var(--color-white);
$color-secondary: var(--color-black);


:root {
    @each $current-color, $current-color-value in map-get($colors, "light"){
        --color-#{$current-color}: #{$current-color-value};
    }
}

@media (prefers-color-scheme: dark){
    :root {
        @each $current-color, $current-color-value in map-get($colors, "dark"){
            --color-#{$current-color}: #{$current-color-value};
        }
    }
}