/*
@font-face {
    font-family: 'TODO: font-name';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('TODO: add source') format('TODO: add format');
}

@font-face {
    font-family: 'TODO: font-name';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('TODO: add source') format('TODO: add format');
}

@font-face {
    font-family: 'TODO: font-name';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('TODO: add source') format('TODO: add format');
}

@font-face {
    font-family: 'TODO: font-name';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url('TODO: add source') format('TODO: add format');
}

.font__$font-family-$font-weight {
    font-family: '$font-family', serif;
    font-weight: 400;
    font-style: normal;
}

.font__$font-family-$font-weight--$font-style {
    font-family: '$font-family', serif;
    font-weight: 400;
    font-style: $font-style;
}

.font__$font-family-$font-weight {
    font-family: '$font-family', serif;
    font-weight: 700;
    font-style: normal;
}

.font__$font-family-$font-weight--$font-style {
    font-family: '$font-family', serif;
    font-weight: 700;
    font-style: $font-style;
}
*/