---
import '@styles/layout/site-layout.scss';
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        
        <title>title</title>        <!-- TODO: change title -->
    </head>

    <body>
        <slot />
    </body>
</html>
